#container{

  height: 540px;
  background: #eeeeee;
  border-radius: 0 0 4px 4px;
  padding: 20px;
}

.handlers{
  display:inline-grid;
  grid-row-gap: 20px;
  padding: 20px;
}

.footer{
  display: flex;
  align-items: center;
  
}

.footer h1{
  flex:1;
  text-align: center;
}

body{
  padding: 0;
  margin:0;
}

div{
  box-sizing: border-box;
}